
<div data-page="foodcart" class="page with-subnavbar">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">Cart</div>

    </div>
  </div>


<div class="toolbar toolbar-bottom" ng-click="processcart()">
  <div class="toolbar-inner">
        <a href="#" class="link">Total</a>
        <a href="#" class="link">Rs.{{foodtotal()}}</a>
        <a href="#" class="link icon-only"><i class="ion-arrow-right-c" style="font-size: 40px;"></i></a>
  </div>
</div>


<div class="page-content">


  <div class="list-block media-list" >
  <ul>
    <li class="swipeout" ng-repeat="food in foodinvoice.items | filter:{cat2:name}">
      <div class="item-content">

        <div class="item-inner" style="padding-left:30px;">
          <div class="item-title-row">
            <div class="item-title">{{food.name}}</div>
            <div class="item-after" style="font-size: 25px;" ng-show="foodcheckCart(food)"> <i class="ion-ios-arrow-up green" ng-click="foodaddItem(food)"></i> </div>
          </div>
          <div class="counter">
             <div class="item-subtitle">{{food.quantity}}</div>
             <div class="item-after" style="font-size: 20px; padding-right: 1.5px;" ng-bind="foodcheckQty(food)" ng-show="foodcheckCart(food)"></div>

          </div>
          <div class="down">
             <div class="item-text">{{food.sp | currency:"₹"}}</div>
             <div class="item-after" style="font-size: 25px;" ng-show="foodcheckCart(food)"> <i class="ion-ios-arrow-down green" ng-click="foodminusItem(food)"></i></div>
          </div>

        </div></div>
        <div class="swipeout-actions-right"><a href="#" ng-click ="foodremoveItem($index)" class="swipeout-delete">Delete</a></div>
      </li>

  </ul>
</div>



  </div>


  </div>
</div>
