<div data-page="foods"  class="page with-subnavbar">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"><a href="#" class="back link icon-only"><i class="icon icon-back"></i></a></div>
      <div class="center">{{resname}}</div>
    </div>
  </div>

<div class="toolbar tabbar tabbar-scrollable swiper-container">
    <div class="toolbar-inner swiper-wrapper">

        <a href="#tab{{$index+1}}" class="tab-link active swiper-slide" ng-repeat="name in fooduniqueNames">{{name}}</a>
  </div>
</div>

<div class="toolbar toolbar-bottom" ng-show="foodcheck()"  ng-click="foodcartPage()">
  <div class="toolbar-inner">
    <a href="#" ng-click="foodcartPage()" class="link">
       <i class="icon ion-android-cart" style="font-size: 25px;"></i>
         <div class="cartqtyproduct"> <span class="badge bg-red" style="font-size: 15px;">{{foodinvoice.items.length}}</span> </div>
    </a>
    <a href="#" class="link" style="font-size: 20px;">Next</a>
    <a href="#" class="link" style="font-size: 25px;"><i class="ion-arrow-right-c" style="font-size: 40px;"></i></a>
</div>
  </div>

  <div class="tabs-swipeable-wrap">

    <div class="tabs">
        <div id="tab{{$index+1}}" class="page-content tab" ng-repeat="name in fooduniqueNames">
        <div class="list-block media-list" >
        <ul>
          <li ng-repeat="food in foods | filter:{cat2:name}">
            <div class="item-content">

              <div class="item-inner" style="padding-left:30px;">
                <div class="item-title-row">
                  <div class="item-title">{{food.name}}</div>
                  <div class="item-after" style="font-size: 25px;" ng-show="foodcheckCart(food)"> <i class="ion-ios-arrow-up green" ng-click="foodaddItem(food)"></i> </div>
                </div>
                <div class="counter">
                   <div class="item-subtitle">{{food.quantity}}</div>
                   <div class="item-after" style="font-size: 20px; padding-right: 1.5px;" ng-bind="foodcheckQty(food)" ng-show="foodcheckCart(food)"></div>
                   <div class="item-after" style="font-size: 25px;" ng-hide="foodcheckCart(food)"> <i class="ion-plus-circled green" ng-click="foodaddItem(food)" ></i> </div>
                </div>
                <div class="down">
                   <div class="item-text">{{food.sp | currency:"₹"}}</div>
                   <div class="item-after" style="font-size: 25px;" ng-show="foodcheckCart(food)"> <i class="ion-ios-arrow-down green" ng-click="foodminusItem(food)"></i></div>
                </div>

              </div></div>
            </li>

        </ul>
      </div>


      </div>

    </div>
  </div>

</div>
